This notbook analyze anad vizualize sales data

In [1]:
# The code was removed by Watson Studio for sharing.

   TransactionID  ProductID  CustomerID  Quantity  SalesAmount TransactionDate
0            1.0          1           1         2        600.0        1/4/2023
1           31.0         31          31         3       1500.0        1/5/2023
2            NaN          3           3         3          NaN        3/4/2023
3            2.0          2           2         1        200.0        2/4/2023
4           32.0         32          32         4        400.0        2/5/2023
5           33.0         33          33         1        600.0        3/5/2023
6            4.0          4           4         1        100.0        4/4/2023
7           34.0         34          34         2        800.0        4/5/2023
8            5.0          5           5         4       1600.0        5/4/2023
9            NaN         10          10         3       1500.0       10/4/2023